<div class="row-fluid">

    <div class="span3">
        <ul class="nav navbar nav-list pull-left">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li>
                <a data-ng-click="toggletest=!toggletest" href="javascript:void(0)">toggle</a>
                <ul class="nav nav-list"  data-ng-init="items=[1,2,3]">
                    <li style="padding-left: 20px" class="collapse " ui-toggle="toggletest" data-ng-repeat="item in items" >
                        <a href="javascript:void(0)">{{item}}</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
        <div class="span9">test</div>
</div>



<style>
    .ui-show {
        color: blue;
        transition: all 0.5s ease; /* You should probably browser-prefix this */
    }
    .ui-hide {
        opacity: 0;
        transition: all 0.5s ease; /* You should probably browser-prefix this */
    }
</style>